{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">

<head>
    {% include 'head.html' %}
</head>

<body>
    {% include 'logo.html' %}
    <!-- NO SÉ QUÉ HACE -->
    <nav class="hidden-lg hidden-md navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <img alt="INVEMAR" src="http://www.invemar.org.co/Invemar3.0-theme/images/img/cd-logo.svg" alt=""
                    style="height:80px">
                <a class="navbar-brand" href="#"></a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="/">
                            <b>Portal Oceanográfico</b>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- TERMINA EL QUE NO SÉ  -->
    <div class="content-todo">
        <section>
            <div class="row">
                <div class="container-fluid">
                    <div class="pull-right">
                        <a class="btn btn-primary" href="/">
                            <i class="glyphicon glyphicon-chevron-left"></i> Regresar al portal
                        </a></div>
                </div>
            </div>
        </section>

        <section id="temperatura">
            <div class="container-fluid">
                <div class="row">
                    <!------------------------------- CUADRO DE INFORMACIÓN ACTUAL ------------------------------->
                    <div class="col-md-4">
                        <div id="card" class="weater">
                            <div class="city-selected">
                                <article>
                                    <div class="info">
                                        <div class="city"><span>Estación:</span>
                                            <p id="nom_estacion">Cayo Bolívar - Meteoceanográficos</p>
                                        </div>
                                        <div id="time" class="night"></div>
                                        <div id="temp" class="temp"></div>
                                        <div class="city">
                                            <span id="wind"></span>
                                        </div>
                                        <p id="id_estacion" style="display: none">{{ estacion.id_estacion }}</p>
                                    </div>
                                </article>
                            </div>
                        </div>
                    </div>
                    <!----------------------------------GRÁFICA DE LA MAREA--------------------------------------->
                    <div class="col-md-6">
                        <div id="g-mareas"></div>
                    </div>
                    <div class="col-md-6" style="display: none;">
                        <div id="info_text" style="height: 300px;"></div>
                    </div>
                    <!---------------------------------TABLA DE LA MAREA------------------------------------------>
                    <div class="col-md-2">
                        <div id="tabla_mareas" style="display: none;">
                            <h4 style="color:rgb(99, 94, 94);">Mareas</h4>
                            <table class="table">
                                <caption></caption>
                                <thead>
                                    <tr class="tablax">
                                        <th>Hora</th>
                                        <th>Altura (m)</th>
                                        <th>Tipo</th>
                                    </tr>
                                </thead>
                                <tbody id="tbody">
                                </tbody>
                            </table>
                            <p>
                                <b>Fuente:</b>
                                IDEAM (<a
                                    href='http://www.ideam.gov.co/web/tiempo-y-clima/cartilla-pronostico-pleamares-bajamares-costa-atlantica-colombiana'>Sitio
                                    oficial
                                </a>)
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="container-fluid mb-3em">
            <div class="col-md-12" style="text-align: center;">
                <button onclick="myFunction(tai_h)" id="tai_h" type="button"
                    class="btn min-h6em mx-8px active-btn">Temperatura del aire
                    <hr> Humedad</button>
                <button onclick="myFunction(v_p)" id="v_p" type="button" class="btn min-h6em mx-8px sombra">Velocidad
                    del viento
                    <hr> Presión atmosférica</button>
                <button onclick="myFunction(r_l)" id="r_l" type="button"
                    class="btn min-h6em mx-8px sombra">Precipitación</button>
                <button onclick="myFunction(s_tag)" id="s_tag" type="button"
                    class="btn min-h6em mx-8px sombra">Salinidad
                    <hr> Temperatura del agua</button>
                <button onclick="myFunction(od_ph)" id="od_ph" type="button" class="btn min-h6em mx-8px sombra">Oxígeno
                    disuelto
                    <hr> pH</button>
                <!-- <button onclick="myFunction(tai_tag_p)" id="tai_tag_p" type="button" class="btn min-h6em mx-8px">Temperatura del aire <hr> Temperatura del agua <hr> Presión atmosférica</button> -->
                <button onclick="myFunction(vv_od)" id="vv_od" type="button"
                    class="btn min-h6em mx-8px sombra">Velocidad del viento
                    <hr> Oxígeno disuelto / pH</button>
                <button onclick="myFunction(tai_tag_p)" id="tai_tag_p" type="button"
                    class="btn min-h6em mx-8px sombra">Presión atmosférica
                    <hr> Temperatura del agua / aire</button>
                <button onclick="myFunction(viento)" id="viento" type="button"
                    class="btn min-h6em mx-8px sombra">Velocidad del viento
                    <hr> Dirección del viento</button>
            </div>
        </div>

        <!----------------------------------GRÁFICAS--------------------------------------->
        <div id="container" style="height: 400px; min-width: 310px"></div>
    </div>

    <script src="https://code.highcharts.com/stock/highstock.js"></script>
    <script src="https://code.highcharts.com/stock/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/stock/modules/export-data.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="http://code.highcharts.com/modules/windbarb.js"></script>
    <script type="text/javascript" src="{%  static 'js/estaciones2.js' %}"></script>
    <script type="text/javascript" src="{%  static 'js/botones.js' %}"></script>
    {% include 'footer2.html' %}
    <script type="text/javascript" src="{%  static 'js/graficas_mareas.js' %}"></script>


</body>

</html>