{% load staticfiles %}
<script src="https://code.highcharts.com/stock/highstock.js"></script>
<script src="https://code.highcharts.com/stock/modules/exporting.js"></script>
<script src="https://code.highcharts.com/stock/modules/export-data.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="http://code.highcharts.com/modules/windbarb.js"></script>

<select name="select_grafica" id="select_grafica">
    <option value="TEMP" disabled selected>Seleccione una Gráfica...</option>
</select>

<div id="container" style="max-width: 310px; height: 400px; margin: 0 auto;"></div>
<script type="text/javascript" src="{%  static 'js/jquery-2.1.1.js' %}"></script>
<script type="text/javascript" src="{%  static 'js/graficas_perfiles.js' %}"></script>