{% load staticfiles %}
<!DOCTYPE html>
<html>

<head>
    {% include 'head.html' %}
    <style>
        html,
        body,
        #map {
            height: 100%;
            width: 100%;
            margin: 0;
            padding: 0;
        }
    </style>
</head>

<body>
    {% include 'logo.html' %}

    <!-- Control izquierdo -->
    {% include 'control_izquierda.html' %}

    <!-- Visualización de texto -->
    {% include 'texto_variables.html' %}

    <!-- Control derecho -->
    {% include 'control_derecha.html' %}

    <!-- MAPA -->
    <div id="map"></div>

    <!-- JAVASCRIPT -->
    {% include 'scripts.html' %}

</body>

</html>