{% load staticfiles %}
<!DOCTYPE html>
<html>

<head>
    {% include 'layouts/head.html' %}
    <style>
        html,
        body,
        #map {
            height: 100%;
            width: 100%;
            margin: 0;
            padding: 0;
        }
    </style>
    <script src="https://js.arcgis.com/3.30/"></script>
</head>

<body>
    {% include 'layouts/logo.html' %}

    <!-- Control de usuario -->
    <div id="sidebar" class="sidebar collapsed">
        <div class="sidebar-tabs">
            <ul role="tablist">
                <li class="hidden-lg hidden-md">
                    <a href="#">
                        <img src="{% static 'images/cd-logo.svg' %}" alt="Logo INVEMAR" style="height:60px">
                    </a>
                </li>
                <li>
                    <a href="#info" role="tab">
                        <i class="fa fa-info-circle"></i><br>
                        <span>Acerca de</span>
                    </a>
                </li>
                <li>
                    <a href="#servicios" role="tab">
                        <i class="icon-stack"></i><br>
                        <span>Capas</span>
                    </a>
                </li>
                <li>
                    <a href="/invemar-hoy/" role="tab" target="_blank">
                        <i class="icon-estacion-invemar"></i><br>
                        <span>Invemar hoy</span>
                    </a>
                </li>
                <li>
                    <a href="http://triton.invemar.org.co:8080/thredds/catalog.html" role="tab" target="_blank">
                        <i class="icon-download"></i><br>
                        <span>Descargar datos</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:manualPrint();" role="tab">
                        <i class="icon-printer"></i><br>
                        <span>Imprimir pantalla</span>
                    </a>
                </li>
            </ul>
        </div>

        <div class="sidebar-content">
            <div class="sidebar-pane" id="info">
                <h1 class="sidebar-header">
                    Acerca de
                    <span class="sidebar-close"><i class="fa fa-caret-left"></i></span>
                </h1>
                <br>
                <p>El Portal Observatorio de los Mares Tropicales de las Américas (TRITON), es una iniciativa del
                    Programa de Geociencias del Instituto de Investigaciones Marinas y Costeras - INVEMAR (Colombia).
                    TRITON pretende ser una herramienta de apoyo a la investigación, a las actividades productivas y al
                    seguimiento de la evolución (monitoreo) de las condiciones oceánicas en la región del Caribe. Para
                    este fin, TRITON despliega de forma casi permanente y en tiempo cercano al real (entre 6 horas a 2
                    días de retraso) información oceanográfica de alta relevancia en la mayor resolución espacial
                    posible para toda la cuenca.</p>
                <p>La información desplegada en TRITON proviene o ha sido procesada a partir de diferentes bases de
                    datos satelitales y salidas de modelos numéricos de libre acceso. Sus fuentes originales pueden ser
                    consultas en los enlaces proporcionados junto con la información correspondiente a cada variable. El
                    procesamiento de los datos se realiza a través de módulos PYTHON y posteriormente es almacenada en
                    formato NetCDF. El despliegue de la información se realiza a través de un servidor THREDDS 4.6.9
                    (Thematic Real-time Environmental Distributed Data Services) en formato WMS. Los servicios WMS son
                    consumidos e interpretados a través framework Javascript leaflet 1.0.3. </p>
                <p>Los archivos NetCDF de las variables desplegadas, pueden ser descargados para utilizarlos en otras
                    plataformas desde el repositorio de datos de TRITON en este <a
                        href="http://triton.invemar.org.co:8080/thredds/catalog.html" target="_blank">enlace</a> .</p>
                <p>
                    <h5>Versión:</h5> Versión a prueba de errores
                </p>
                <p>
                    <h5>Contacto:</h5>
                </p>
                <p>Si tiene alguna sugerencia o comentario por favor contáctese con: marco.correa@invemar.org.co </p>
                <p>
                    <h5>Creditos:</h5>
                </p>
                <p>Todos los derechos de propiedad intelectual sobre el diseño, despliegue y visualización de la
                    información de TRITON pertenecen al INVEMAR. En el caso de que alguna de la información del portal
                    sea utilizada, redistribuida, publicada en medios convencionales o en internet, se recomienda a los
                    usuarios incluir en sus agradecimientos "Este producto/publicacion/presentacion fue generado
                    utilizando información del Observatorio de los Mares Tropicales de las Américas (TRITON)"</p>
                <p>
                    <h5>Equipo Cientifico:</h5>
                </p>
                <p>Constanza Ricaurte Villota</p>
                <p>Marco Correa Ramirez</p>
                <p>Martha Bastidas</p>
                <p>Andrés Ordoñez</p>
                <p>Magnolia Murcia</p>
                <p>Samuel Hormazabal (Asesor externo)</p>
                <p>
                    <h5>Equipo de desarrollo de software:</h5>
                </p>
                <p>Julian Pizarro (Jefe del LABSIS)</p>
                <p>Juan Manuel Rodriguez (Lider de desarrollo)</p>
                <p>Miguel Ospino (Diseñador web)</p>
                <p>
                    <h5>Financiamiento</h5>
                </p>
                <p>El Portal es inicialmente financiado con recursos provenientes del Contrato de Financiamiento de
                    Recuperación Contingente No. FP44842-138-2016. Fondo nacional de Financiamiento para la ciencia, la
                    tecnología y la Innovación Francisco José de Caldas - Instituto de Investigaciones Marinas y
                    Costeras INVEMAR (Colombia). Las actividades de desarrollo del Portal se encuentran enmarcadas
                    dentro del proyecto "Conectividad entre el Sistema de Surgencia de La Guajira y el Archipiélago de
                    San Andrés, Providencia y Santa Catalina, como insumo de una Plataforma de Despliegue Permanente de
                    información Oceanográfica para uso en conservación y pesca", convocatoria 714 de COLCIENCIAS</p>
                <p>
                    <h5>Renuncia de responsabilidad</h5>
                </p>
                <p>El usuario es advertido de que pueden haber errores en los datos suministrados y asume la
                    responsabilidad de realizar los chequeos necesarios para detectarlos, corregirlos e interpretarlos
                    de manera correcta. El usuario hace uso de los datos bajo su propia responsabilidad y acepta las
                    limitaciones existentes en los datos.</p>
                <p>Las lineas de delimitación territorial presentadas en en el Portal, son una representación gráfica
                    aproximada con fines de referencia espacial y no expresan una posición de carácter oficial. El
                    INVEMAR no asume ninguna responsabilidad sobre interpretaciones cartográficas que surjan a partir de
                    estas.
                </p>
                <img src="{% static 'images/invemar-triton.png' %}" style="width:90%">
            </div>

            <div class="sidebar-pane" id="servicios">
                <h1 class="sidebar-header">Servicios<span class="sidebar-close"><i class="fa fa-caret-left"></i></span>
                </h1>
                <div class="content-tab">
                    <div class="list-group">

                        <li class="list-group-item" id="bSLAh">
                            <span class="pull-right sbtn">
                                <a class="info-sb" data-toggle="modal" data-target="#texto1">
                                    <span class="badge">
                                        <i class="fa fa-question-circle"></i>
                                    </span>
                                </a>
                                <input id="cbSLAh" type="checkbox" data-toggle="toggle" data-onstyle="info" data-on=" "
                                    data-off=" ">
                            </span>
                            <a class="list-group-item" href="#"> Altura nivel del mar</a>
                        </li>

                        <li class="list-group-item">
                            <span class="pull-right sbtn">
                                <a data-toggle="modal" data-target="#texto2" class="info-sb">
                                    <span class="badge">
                                        <i class="fa fa-question-circle"></i>
                                    </span>
                                </a>
                                <input id="cbSLAuv" type="checkbox" data-toggle="toggle" data-onstyle="info" data-on=" "
                                    data-off=" ">
                                <input id="cbSLA" type="checkbox" data-toggle="toggle" data-onstyle="info" data-on=" "
                                    data-off=" ">
                            </span>
                            <a class="list-group-item" href="#"> Velocidad de las corrientes </a>
                        </li>

                        <li class="list-group-item">
                            <span class="pull-right sbtn">
                                <a data-toggle="modal" data-target="#texto3" class="info-sb">
                                    <span class="badge">
                                        <i class="fa fa-question-circle"></i>
                                    </span>
                                </a>
                                <input id="cbSST" type="checkbox" data-toggle="toggle" data-onstyle="info" data-on=" "
                                    data-off=" ">
                            </span>
                            <a class="list-group-item" id="bSST" href="#"> Temperatura superficial</a>
                        </li>

                        <li class="list-group-item">
                            <span class="pull-right sbtn">
                                <a data-toggle="modal" data-target="#texto4" class="info-sb">
                                    <span class="badge">
                                        <i class="fa fa-question-circle"></i>
                                    </span>
                                </a>
                                <input id="cbCHL" type="checkbox" data-toggle="toggle" data-onstyle="info" data-on=" "
                                    data-off=" ">
                            </span>
                            <a class="list-group-item" id="bCHL" href="#">Clorofila</a>
                        </li>
                        <hr>

                        <li class="list-group-item">
                            <span class="pull-right sbtn">
                                <a data-toggle="modal" data-target="#texto5" class="info-sb">
                                    <span class="badge">
                                        <i class="fa fa-question-circle"></i>
                                    </span>
                                </a>
                                <input id="cbWAVESv" type="checkbox" data-toggle="toggle" data-onstyle="info"
                                    data-on=" " data-off=" ">
                                <input id="cbWAVES" type="checkbox" data-toggle="toggle" data-onstyle="info" data-on=" "
                                    data-off=" ">
                            </span>
                            <a class="list-group-item" id="bWAVES" href="#"> Oleaje</a>
                        </li>

                        <li class="list-group-item">
                            <span class="pull-right sbtn">
                                <a data-toggle="modal" data-target="#texto6" class="info-sb">
                                    <span class="badge">
                                        <i class="fa fa-question-circle"></i>
                                    </span>
                                </a>
                                <input id="cbWIND" type="checkbox" data-toggle="toggle" data-onstyle="info" data-on=" "
                                    data-off=" ">
                                <input id="cbWINDv" type="checkbox" data-toggle="toggle" data-onstyle="info" data-on=" "
                                    data-off=" ">
                            </span>
                            <a class="list-group-item" id="bWIND" href="#"> Viento</a>
                        </li>
                        <hr>

                        <li class="list-group-item">
                            <span class="pull-right sbtn">
                                <a data-toggle="modal" data-target="#texto7" class="info-sb">
                                    <span class="badge">
                                        <i class="fa fa-question-circle"></i>
                                    </span>
                                </a>
                                <input id="cbEstaciones" type="checkbox" data-toggle="toggle" data-onstyle="info"
                                    data-on=" " data-off=" ">
                            </span>
                            <a class="list-group-item" id="bEstaciones" href="#"> Estaciones meteomarinas</a>
                        </li>

                        <li class="list-group-item">
                            <a class="list-group-item" id="b38883" href="/estacion/38883" target="_blank"> Estacion
                                38883</a>
                        </li>
                        <li class="list-group-item">
                            <a class="list-group-item" id="b38884" href="/estacion/38884" target="_blank"> Estacion
                                38884</a>
                        </li>
                        <li class="list-group-item">
                            <a class="list-group-item" id="b38885" href="/estacion/38885" target="_blank"> Estacion
                                38885</a>
                        </li>
                        <li class="list-group-item">
                            <a class="list-group-item" id="b39161" href="/estacion/39161" target="_blank"> Estacion
                                39161</a>
                        </li>
                        <li class="list-group-item">
                            <a class="list-group-item" id="b39162" href="/estacion/39162" target="_blank"> Estacion
                                39162</a>
                        </li>
                    </div>
                </div>
            </div>
            <div class="sidebar-pane" id="estacion">
                <h1 class="sidebar-header">
                    INVEMAR Hoy
                    <span class="sidebar-close">
                        <i class="fa fa-caret-left"></i>
                    </span>
                </h1>
            </div>

        </div>
    </div>

    <!-- Visualización de texto -->
    <div class="modal fade" tabindex="-1" id="texto1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Altura nivel del mar</h4>
                </div>
                <div class="modal-body">
                    <p>Las anomalías en el nivel del mar son derivadas de la combinación de las mediciones en tiempo
                        cercano al real de los principales misiones de altimetría satelial actualmente en orbita:
                        Jason-3, Sentinel-3A, HY-2A, Saral/AltiKa, Cryosat-2, Jason-2, Jason-1, T/P, ENVISAT, GFO,
                        ERS1/2. Las mediciones de todas la misiones son homogeneizadas usando los mismos modelos y
                        correcciones respecto a una misión de referencia, la cual actualmente es Jason-3. En la
                        producción de los campos de nivel del mar se realiza una calibración cruzada entre los datos de
                        las misiones que remueve cualquier error causado por desviaciones de la orbita de los satelites,
                        errores provenientes de longitudes de ondas largas, al igual que sesgos y discrepancias de gran
                        escala observadas entre las bases de datos. Después de esta calibración se sustrae al promedio
                        de 20 años del nivel del mar para obtener el campo de anomalías del nivel del mar. Los datos
                        posteriormente se validan cruzadamente, se les filtra el ruido residual y señales de pequeña
                        escala, y finalmente es sub-muestreado a una cuadricula regular de ¼ de grado de resolución
                        espacial.
                    </p>


                    <p>El producto de Anomalías del Nivel del Mar desplegado en el POOCar es adicionalmente remuestreado
                        a 1/10º utilizando interpolación lineal, para asegurar una visualización mas continua en la
                        región del Caribe. El campo de anomalías permite observar las perturbaciones generadas en el
                        nivel del mar causadas por estructuras oceánicas de ondas y remolinos en la submesoescala.
                        Debido al efecto de estas estructuras en el levantamiento / depresión de las isopicnas, las
                        anomalías del nivel son aveces utilizadas como un proxy de la profundidad de la
                        picnoclina/termoclina.
                    </p>

                    <p>Fuente: COPERNICUS Marine Environtment Monitoring Service (
                        <a href="http://marine.copernicus.eu/" target="_blank">http://marine.copernicus.eu/</a>)
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" tabindex="-1" id="texto2" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Corrientes</h4>
                </div>
                <div class="modal-body">
                    <p>Las corrientes son calculadas en base al balance geostrófico de la anomalías en el nivel del mar,
                        que son derivadas de la combinación de las mediciones en tiempo cercano al real de los
                        principales misiones de altimetría satelial actualmente en orbita: Jason-3, Sentinel-3A, HY-2A,
                        Saral/AltiKa, Cryosat-2, Jason-2, Jason-1, T/P, ENVISAT, GFO, ERS1/2. Las mediciones de todas la
                        misiones son homogeneizadas usando los mismos modelos y correcciones respecto a una misión de
                        referencia, la cual actualmente es Jason-3. En la producción de los campos de nivel del mar se
                        realiza una calibración cruzada entre los datos de las misiones que remueve cualquier error
                        causado por desviaciones de la orbita de los satelites, errores provenientes de longitudes de
                        ondas largas, al igual que sesgos y discrepancias de gran escala observadas entre las bases de
                        datos. Después de esta calibración se sustrae al promedio de 20 años del nivel del mar para
                        obtener el campo de anomalías del nivel del mar. Los datos posteriormente se validan
                        cruzadamente, se les filtra el ruido residual y señales de pequeña escala, y finalmente es
                        sub-muestreado a una cuadricula regular de ¼ de grado de resolución espacial.
                    </p>

                    <p>El campo de corrientes permite observar los principales flujos superficiales que no son
                        directamente generados por el viento. En base al campo de corrientes es utilizado generalmente
                        para determinar remolinos oceánicos y realizar cálculos del transporte, la dispersión y la
                        difusión dinámica.
                    </p>

                    <p>Fuente: COPERNICUS Marine Environtment Monitoring Service (
                        <a href="http://marine.copernicus.eu/" target="_blank">http://marine.copernicus.eu/</a>)
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" tabindex="-1" id="texto3" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Temperatura superficial del mar</h4>
                </div>
                <div class="modal-body">
                    <p>La temperatura superficial del mar (en ºC) es medida utilizando el algoritmo de onda larga que
                        emplea las bandas 31 y 32 (a 11 y 12 um respectivamente) del sensor MODIS. El algoritmo deriva
                        la temperatura desde la inversión de la radianza observada en estas bandas contra la relación de
                        la temperatura de un cuerpo negro. El algoritmo es continuamente ajustado en base a los datos
                        espacialmente coincidentes de las estimaciones de la temperatura por satélite con mediciones en
                        campo de temperatura superficial del mar.
                    </p>

                    <p>El producto desplegado corresponde a la ultima medición de la temperatura superficial del mar por
                        el sensor satelital MODIS-Aqua, en nivel de procesamiento L2, con una resolución espacial de 1
                        km. Los datos faltantes fueron restituidos mediante una interpolación DINEOF, utilizando una
                        caja movil con los ultimos 30 días. La temperatura interpolada es un producto operacional que
                        pretende reducir la cantidad de brechas espaciales de datos faltantes generados por la
                        interferencia de la cobertura nubosa en el momento de la toma de información por el satélite.
                        Las brechas son completadas utilizando la información de los días contiguos, asumiendo que los
                        cambios en la distribución la temperatura no son significativos en periodos menores a tres días.
                    </p>

                    <p>La temperatura superficial del mar es un indicador del calor almacenado en la capa superficial
                        del océano. Debido a que la temperatura junto a la salinidad controlan la densidad del agua,
                        altas temperaturas son generalmente asociadas a zonas de alta estratificación vertical.
                        Descensos en la temperatura son usualmente utilizados para observar zonas de intensa mezcla
                        vertical, surgencia de aguas sub-superficiales frías en zonas costeras o en regiones oceánicas,
                        o el generado por el paso de ondas y remolinos de mesoescala. </p>

                    <p>Fuente: OceanColor Web (
                        <a href="https://oceancolor.gsfc.nasa.gov/"
                            target="_blank">https://oceancolor.gsfc.nasa.gov/</a>)
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" tabindex="-1" id="texto4" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Clorofila</h4>
                </div>
                <div class="modal-body">
                    <p>La Concentración de Clorofila cerca a la superficie (en mg m-3),se calcula utilizando una
                        relación empírica entre mediciones in-situ de concentración de clorofila y las reflectancias
                        captadas remotamente por los satelites dentro de la región azul a verde (440 - 670 nm) del
                        espectro visible. La actual implementación emplea la relación estándar por bandas de los
                        algoritmos OC3/OC4 (O'Reilly et al., 1998, 2000) junto con el Índice de Color (CI) de Hu et al.
                        (2012).
                    </p>


                    <p>El producto desplegado corresponde a la ultima medición de la clorofila por el sensor satelital
                        MODIS-Aqua, en nivel de procesamiento L2, con una resolución espacial de 1 km. Los datos
                        faltantes fueron restituidos mediante una interpolación DINEOF, utilizando una caja movil con
                        los ultimos 30 días. La clorofila interpolada es un producto operacional que pretende reducir la
                        cantidad de brechas espaciales de datos faltantes generados por la interferencia de la cobertura
                        nubosa en el momento de la toma de información por el satélite. Las brechas son completadas
                        utilizando la información de los días contiguos, asumiendo que los cambios en la distribución la
                        temperatura no son significativos en periodos menores a tres días.
                    </p>


                    <p>La concentración de clorofila brinda información acerca de la concentración de biomasa de
                        fitoplancton, el principal productor primario del océano. Junto con la temperatura y
                        concentración de nutrientes, también puede ser utilizado como proxy para identificar zonas que
                        potencialmente pueden exhibir altas tazas de producción biológica. Áreas con altas
                        concentraciones de clorofila pueden promover la generación de agregaciones de zooplancton y
                        peces.
                    </p>


                    <p>Fuente: OceanColor Web (
                        <a href="https://oceancolor.gsfc.nasa.gov/"
                            target="_blank">https://oceancolor.gsfc.nasa.gov/</a>)
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" tabindex="-1" id="texto5" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Oleaje</h4>
                </div>
                <div class="modal-body">
                    <p>Predicciones de la altura, direcci&oacute;n y periodo de ola, generadas cada 6 horas (0, 6, 12 y
                        18H) por el modelo WAVEWATCH III y remuestreadas a una resoluci&oacute;n espacial de 1/10&deg;.
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" tabindex="-1" id="texto6" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Vientos</h4>
                </div>
                <div class="modal-body">
                    <p>Campo de vientos a 10 metros sobre el nivel del mar, proveniente del producto combinado de mas de
                        6 mediciones satelitales (Microwave Imager-SSMI, Tropical Rainfall Measuring Mission Microwave
                        Imager-TMI, Advanced Microwave Scanning Radiometer-AMSR-E, mas mediciones de
                        dispers&oacute;metros satelitales activos de largo plazo), con una resoluci&oacute;n espacial
                        remuestreada a 1/10&deg;.
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Visualización de mapas -->
    <div id="slider" style="padding: 20px; background:#0c3f73; z-index: 335; display: none;">
        <div class="sidebar-content" style="background:#0c3f73; left: 7px;">
            <div class="content-tab" id="" style="width:305px;margin-top: 5em;">
                <div id="lSLAh" style="display: none"></div>
                <div id="lSLAuv" style="display: none"></div>
                <div id="lSLA" style="display: none"></div>
                <div id="lCHL" style="display: none"></div>
                <div id="lSST" style="display: none"></div>
                <div id="lWIND" style="display: none"></div>
                <div id="lWAVES" style="display: none"></div>
                <div id="lWINDv" style="display: none"></div>
                <div id="lWAVESv" style="display: none"></div>
            </div>
        </div>
    </div>

    <!-- Panel de información izquierdo CONTROL -->
    <div id="picker" style="padding: 20px; background:#0c3f73; z-index: 335;display: none;">
        <div class="sidebar-content" style="background:#0c3f73; left: 7px;">
            <div class="content-tab" id="" style="width:305px;margin-top: 5em;">
                <div class="panel panel-default" style="margin-top:1em; margin-bottom:1em">
                    <div class="panel-heading">
                        Seleccione un punto en el mapa
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table" data-toggle="table" id="table">
                                <caption id="coor"></caption>
                                <thead>
                                    <tr>
                                        <th data-field="variable">Variable</th>
                                        <th data-field="valor">Valor</th>
                                        <th data-field="unidades">Unidades</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="tracer" style="padding: 20px; background:#0c3f73; z-index: 335;display: none;">
        <div class="sidebar-content" style="background:#0c3f73; left: 7px;">
            <div class="content-tab" id="" style="width:305px;margin-top: 5em;">
                <div class="panel panel-default" style="margin-top:1em; margin-bottom:1em">
                    <div class="panel-heading">
                        Seleccione un punto en el mapa
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table" data-toggle="table" id="tableTrace">
                                <thead>
                                    <tr>
                                        <th data-field="punto">P</th>
                                        <th data-field="lon">Lon</th>
                                        <th data-field="lat">Lat</th>
                                        <th data-field="dist">dist(km)</th>
                                        <th data-field="total">Total</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
                <div>
                    <a onclick="descargarTrace()" class="btn btn-primary">
                        <i class="glyphicon glyphicon-download"></i>descargar
                    </a>
                </div>

                <div>
                    <a onclick="clearTrace()" class="btn btn-primary">
                        <i class="glyphicon glyphicon-remove"></i>Borrar trazado
                    </a>
                </div>
                <div class="panel panel-default" style="margin-top:1em; margin-bottom:1em">
                    <div class="panel-heading">
                        Variables
                    </div>
                    <div class="panel-body" id="traceVar">
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

    <!-- Visualizador del panel de información izquierdo -->
    <ul class="nav nav-pills nav-stacked" style="display: table-cell;  position: absolute; right: -2px; top: 15%;">
        <li class="bnt-right btn btn-primary" id='trigger'>
            <span class="fa fa-info-circle"></span>
        </li>
        <li class="bnt-right btn btn-primary" id="tpicker">
            <span class="fa fa-map-marker"></span>
        </li>
        <li class="bnt-right btn btn-primary" id="trace">
            <span class="glyphicon glyphicon-globe"></span>
        </li>
    </ul>

    <!-- MAPA -->
    <div id="map"></div>

    <!-- JAVASCRIPT -->
    <script type="text/javascript" src="{%  static 'js/jquery-2.1.1.js' %}"></script>
    <script type="text/javascript" src="{%  static 'js/jquery-sidebar.js' %}"></script>
    <script type="text/javascript" src="{%  static 'js/jquery.slidereveal.js' %}"></script>
    <script type="text/javascript" src="{%  static 'js/slidereveal.js' %}"></script>
    <script type="text/javascript" src="{%  static 'js/arcgis_prueba.js' %}"></script>
</body>

</html>