{% load staticfiles %}

<script type="text/javascript" src="{%  static 'js/jquery-2.1.1.js' %}"></script>
<script type="text/javascript" src="{%  static 'js/jquery-sidebar.js' %}"></script>
<script type="text/javascript" src="{%  static 'js/bootstrap.js' %}"></script>
<script type="text/javascript" src="{%  static 'js/bootstrap-table.js' %}"></script>
<script type="text/javascript" src="{%  static 'js/jquery.slidereveal.js' %}"></script>
<script type="text/javascript" src="{%  static 'js/slidereveal.js' %}"></script>
<script type="text/javascript" src="{%  static 'js/leaflet.js' %}"></script>
<script type="text/javascript" src="{%  static 'js/esri-leaflet.js' %}"></script>
<script type="text/javascript" src="{%  static 'js/bootstrap-toggle.min.js' %}"></script>
<script type="text/javascript" src="{%  static 'js/main.js' %}"></script>

<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/data.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="https://code.highcharts.com/modules/windbarb.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>