{% load staticfiles %}

<script type="text/javascript" src="{%  static 'js/jquery-2.1.1.js' %}"></script>
<script type="text/javascript" src="{%  static 'js/jquery-sidebar.js' %}"></script>
<script type="text/javascript" src="{%  static 'js/bootstrap.js' %}"></script>
<script type="text/javascript" src="{%  static 'js/bootstrap-table.js' %}"></script>
<script type="text/javascript" src="{%  static 'js/jquery.slidereveal.js' %}"></script>
<script type="text/javascript" src="{%  static 'js/slidereveal.js' %}"></script>
<script type="text/javascript" src="{%  static 'js/bootstrap-toggle.min.js' %}"></script>

<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <p>SEDE PRINCIPAL:PLAYA SALGUERO - RODADERO -SANTA MARTA, COLOMBIA- | A.A. 1016 | TELÉFONOS <br>
                    (+57)(+5)4328600 - FAX: (+57) (+5) 4328682<br>
                    HORARIO DE ATENCIÓN (STA MARTA): DE 7:00 A 11:15 AM Y DE 1:00 A 4:00 PM DE LUNES A VIERNES <br>
                    COPYRIGHT © 2012 TODOS LOS DERECHOS RESERVADOS WEBMASTER@INVEMAR.ORG.CO</p>
                <p class="copyright">© 2014 invemar all right reserved property of invemar</p>
            </div>
            <div class="col-md-4">
                <img src="{% static 'images/logo-invemar.png' %}" alt="invemar"
                    style="height: 80px; margin-right: 15px">
                <a href="http://www.coralina.gov.co/nuevositio/" role="tab" target="_blank">
                    <img src="{% static 'images/logo-coralina.png' %}" alt="coralina" style="height: 80px;">
                </a>
            </div>
        </div>
    </div>
</footer>