{% load staticfiles %}
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="description" content="SIAM, Sistema de Informacion Ambiental Marina" />
<meta name="keywords"
    content="TRITON, informacion, ambiental, ambiente, marino, marina, invemar, instituto, investigacion, investigaciones, cientificas, cientificos, marinas, costeras" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
<meta name="author" content="INVEMAR" />
<title>Portal oceanográfico</title>
<link href="{% static 'images/favicon.ico' %}" type="image/x-icon" rel="shortcut icon" />


<!-- TOMADO PAGINA TRITON
========================================================================== -->

<link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
<link rel="stylesheet" href="{% static 'css/gmaps-sidebar.css' %}">
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
<link rel="stylesheet" href="{% static 'css/bootstrap-table.css' %}">
<link rel="stylesheet" href="{% static 'css/bootstrap-toggle.min.css' %}">
<link rel="stylesheet" href="{% static 'css/leaflet.css' %}">
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<link rel="stylesheet" href="{% static 'css/iconmoon.css' %}">

<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">

<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://momentjs.com/downloads/moment.min.js"></script>